<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Imageboard Detail!
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <th:block th:each="image : ${detail}">
        <div>
            <p th:text="${image.imageNo}"/>
            <br/>
            <p th:text="${image.imageName}"/>
            <br/>
            <p th:text="${image.imageStep}"/>
            <br/>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </th:block>
</div>

</body>
</html>